---
// import BaseLayout from "../components/Layout";
import BaseLayout from "../../pages/layout/layout.astro";
---

<BaseLayout title="tentang">
  <div class="p-6">
    <h1 class="text-3xl font-bold mb-4">Tentang</h1>
    <p>
      Aplikasi ini dibuat menggunakan Astro, React, dan Tailwind CSS untuk
      performa dan kemudahan pengembangan.
    </p>
  </div>
</BaseLayout>
