---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="dashboard">
  <div class="p-6">
    <h1 class="text-3xl font-bold mb-4">Dashboard</h1>

    <p>Selamat datang di dashboard aplikasi PWA Astro.</p>
  </div>
</BaseLayout>
