---
import BaseLayout from "../pages/layout.astro";
import DzikirPage from "../components/DzikirPagiSore";
import dzikirData from "../data/dzikir_pagi_sore.json";
---

<BaseLayout title="Dzikir Pagi Sore">
  <main class="p-6">
    <DzikirPage dzikirData={dzikirData} client:load />
  </main>
</BaseLayout>
