---
import BaseLayout from "../pages/layout.astro";
import DzikirList from "../dzikir/DzikirList";
import dzikirData from "../data/dzikir.json";
---

<BaseLayout title="Dzikir Harian">
  <main class="p-6">
    <DzikirList dzikirData={dzikirData} client:load />
  </main>
</BaseLayout>
