---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <!-- Konten halaman -->
  <!-- <main class="ml-60 flex-1 p-6"> -->
  <div class="p-6">
    <h1 class="text-3xl font-bold mb-4">Home</h1>

    <p>Selamat datang di HOMe aplikasi PWA Astro.</p>
  </div>
  <!-- </main> -->
</BaseLayout>
