---
import BaseLayout from "../components/Layout";
---

<BaseLayout title="home" client:load>
  <div class="p-6">
    <h1 class="text-3xl font-bold mb-4">Home</h1>
    <p>Welcome Home</p>
  </div>
</BaseLayout>
