---
// src/pages/login.astro
// import React, { useEffect } from "react";
import LoginPage from "../components/Login";
// import { API_URL } from "astro:env/server";
// const API_URL = import.meta.env.VITE_API_BASE_URL;
// console.log(API_URL);
---

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <LoginPage client:load />
  </body>
</html>
