---
// src/pages/login.astro
// import React, { useEffect } from "react";
import LoginPage from "../components/Login";
---

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <LoginPage client:load />
  </body>
</html>
