---
import BaseLayout from "../pages/layout.astro";
import LastReadMonitor from "../components/LastReadMonitor";
---

<BaseLayout title="Monitor Baca Qur'an">
  <main class="p-6">
    <LastReadMonitor client:only="react" />
  </main>
</BaseLayout>
