---
// src/pages/login.astro
// import React, { useEffect } from "react";
import RegisterPage from "../components/Register";
---

<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <RegisterPage client:load />
  </body>
</html>
