---
import SurahList from "../components/juz-amma/SurahList";
import SurahDetail from "../components/juz-amma/SurahDetail";
import { useState } from "react";
import listSurah from "../../src/data/list_surah.json";
import surah78 from "../components/juz-amma/detail_surah/surah78.json";

const ayatData = surah78.data.ayat;
const namaSurah = listSurah.find((s) => s.nomor === "78")?.nama || "Surat";
---

<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Quran Viewer</title>
  </head>
  <body class="bg-gray-50 text-gray-900">
    <div class="max-w-3xl mx-auto">
      <SurahList client:load surahList={listSurah} />
      <hr class="my-4" />
      <SurahDetail client:load nama={namaSurah} ayat={ayatData} />
    </div>
  </body>
</html>
