---
import BaseLayout from "../../pages/layout/layout.astro";
import SurahDetailBaca from "../../components/juz-amma/SurahDetailBaca";
import listSurah from "../../data/list_surah.json";

const { nomor } = Astro.params;
const surat = listSurah.find((s) => s.nomor === nomor);

export async function getStaticPaths() {
  return listSurah.map((s) => ({
    params: { nomor: s.nomor },
  }));
}
---

<BaseLayout title={`Surat ${surat?.nama || "Tidak Ditemukan"}`}>
  {
    surat ? (
      <SurahDetailBaca client:only="react" nomor={nomor} nama={surat.nama} />
    ) : (
      <div class="text-center text-gray-600 mt-10">Surat tidak ditemukan.</div>
    )
  }
</BaseLayout>
